@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #130e01;
    --background: #edf6f7;
    --primary: #294794;
    --secondary: #c3cfef;
    --accent: #35a2c0;
    --accent-active: #35b1d4;
  }
  .dark {
    --text: #fef9ec;
    --background: #081112;
    --primary: #6b89d6;
    --secondary: #101c3c;
    --accent: #3facca;
  }
}

.modebar-container {
    visibility: hidden;
}

@font-face {
    font-family: "Computer Modern";
    src: url("/cmunrm.ttf");
}

@font-face {
    font-family: "Milku";
    src: url("/Milku.otf");
}

.custom-scroll {
    padding-left: 16px;
    padding-right: 8px;
    scrollbar-gutter: stable;
}

.custom-scroll::-webkit-scrollbar {
    width: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #29479477;
    border-radius: 999px;
}
